<div class="flex flex-col justify-center">
  <img src="https://vite-ruby.netlify.app/logo.svg" class="h-32 w-32 mx-auto" />
  <h1 class="mt-6 mb-12 text-center font-sans text-5xl w-full">Vite on Rails</h1>
</div>
